.dialog-user-avatar {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 900;
  color: #ccc;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.25rem;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
}
